{% extends 'base.html' %}
{% block content %}
<h1>Post Details</h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{object.author.profile.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{object.author}}</h5>
      {% if object.author == user %}
      <a href="{% url 'updatepost' object.id %}" class="btn btn-primary">Update</a>
      <a href="{% url 'deletepost' object.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
    <h6 class="card-title">{{object.title}}</h6>
    <p class="card-text">{{object.text}}</p>
  </div>
</div>
{% endblock content %}